.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
frontend/dist
*.md
.ipynb_checkpoints
notebooks
.env
.env.*
!.env.example
*.log
.DS_Store
.cursor
terminals
